<div class="text-white ultramarineblue p-2">
    <div class="row">
        <div class="col-md">
            <P><mat-icon> person</mat-icon>Programador <a class="textflickrping" href="http://" target="_blank" rel="noopener noreferrer">Ir</a></P>
            <P><mat-icon> call</mat-icon> TELEF: 022647002</P>
            <P><mat-icon> mobile_screen_share</mat-icon> CEL: 0983856136</P>
        </div>
        <div class="col-md">
            <p><mat-icon>chat</mat-icon><a class="text-white" href="https://api.whatsapp.com/send?phone=0983856136" target="_blank" rel="noopener noreferrer">WHATSAPP</a></p>
            <p><mat-icon>people</mat-icon> FACEBOOK</p>
            <p><mat-icon>party_mode</mat-icon> INSTAGRAM</p>
            <p><mat-icon>label_important</mat-icon> TWITER</p>
        </div>
    </div>
</div>